@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Acerca del proyecto </h1>

<p>Autor: Daniel Alexander Bustos Velez  </p>
<p>RentaCar es un proyecto desarrollado para la gestion de renta de vehículos</p>
